body {
	background-image: url(../images/rps.jpg);
	background-size:cover;
}



p, h1, h3, label, button, form, span{
	font-family: 'Permanent Marker', cursive;
	color:black;
	font-size: 50px
	font-weight:bold;
	text-shadow: 4px 4px 4px #aaa;
	opacity: 0.75;
	margin:0;
    padding:0;
}

.bottom-buffer {
	margin-bottom: 20px;
}
  
input { font:12px arial; }
  
a {
    color:#0000FF;
    text-decoration:none; 
}
  
a:hover { 
	text-decoration:underline; 
}
  
#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; }
  
#loginform { 
	padding-top:18px; 
}
  
#loginform p { 
	margin: 5px; 
}
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:white;
    height:200px;
    width:90%;
    border:1px solid #ACD8F0;
    overflow:auto; }
  
#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { 
	width: 60px; 
}
  
.error { 
	color: #ff0000; 
}
  
#menu { 
	padding:12.5px 25px 12.5px 25px; 
}
  
.welcome { 
	float:left; 
}
  
.logout { 
	float:right; 
}
  
.msgln {
	margin:0 0 2px 0; 
}